# Evo Workspace Configuration
# Copy this file to .env and fill in your credentials

# Required: Your Evo client ID (service account)
CLIENT_ID=<client_id>

# Required: Your Evo client secret
CLIENT_SECRET=<client_secret>

# Required: Evo Hub URL
HUB_URL=<hub_url>

# Required: Your Evo organization ID
ORG_ID=<org_id>

# Required: Your Evo workspace ID
WORKSPACE_ID=<workspace_id>

# Required: Path to the input CSV file to be uploaded. Example: C:\Documents\drilling_data\input.csv
EVO_INPUT_FILE_PATH=<input_file>.csv

# Required: Path to the output CSV file to be downloaded. Example: C:\Documents\drilling_data\output.csv
EVO_OUTPUT_FILE_PATH=<output_file>.csv
